@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.1/font/bootstrap-icons.css");
/* @import url("https://cdn.jsdelivr.net/npm/pretty-checkbox@3.0/dist/pretty-checkbox.css"); */
/* @import url("~pretty-checkbox/src/pretty.scss");  */

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.search {
  padding-left: 30px;
  /* margin-top: 40px; */
  border-radius: 6px;
  width:91%;
  height: 25px;
  background-color: #d7d7d7;
  border: 3px solid transparent;
}

.search::placeholder {
  color: #b0b0ae;
}

.search:focus {
  /* box-shadow: 0px 0px 4px #6e6e6e; */
  outline: none;
  border: 3px solid #85a5e5;
}

.search-ico {
  position: absolute;
  margin-left: 10px;
  margin-top: 7px;
}


.cards-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.card-today {
  background-color: #d7d7d7;
  width: 100px;
  border-style: none;
  border-radius: 8px;
}

.card-calender {
  background-color: #d7d7d7;
  width: 49%;
  margin-left: 2%;
  border-style: none;
  border-radius: 8px;
}

.card-all {
  background-color: #d7d7d7;
  width: 49%;
  border-style: none;
  border-radius: 20px;
}

.card-flag {
  background-color: #d7d7d7;
  width: 49%;
  margin-left: 2%;
  border-style: none;
  border-radius: 8px;
}

/* Cards v2 */
.cards-in-line {
  display: flex;
  justify-content: space-between;
}

.cards-in-line:last-child {
  margin-top: 8px;
}

.cards-body {
  margin-top: 30px;
  width: 42%;
  height: 70px;
  /* border: blue;
  border-style: solid;
  border-width: 1px; */
  border-radius: 8px;
  padding: 10px;
  background-color: #d1d1d0;
  color: #696968;
}

.cards-icon-count {
  margin-bottom: 30px;
  display: flex;
  justify-content: space-between;
}

.cards-icon-count i {
  color: #ffffff;
  border-radius: 12px;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cards-count span {
  font-weight: 700;
  font-size: large;
}

.cards-body-name {
 
  font-weight: 500;
}

/* #696968 */

.cards-icon-Today {
  background-color: #337bf6;
}
.cards-icon-Scheduled {
  background-color: #eb4e3d;
}
.cards-icon-All {
  background-color: #5c6269;
}
.cards-icon-Flagged {
  
  background-color: #f19838;
}